@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="container-fluid">
                    <img class="logo" src="~/Images/TaskmatoLogo.png" alt="Taskmato" />
                    <div class="task-list">
                        <p>-Task 1</p>
                        <p>-Task 2</p>
                        <p>-Task 3</p>
                        <p>-Task 4</p>
                        <p>-Task 5</p>
                        <p>-Task 6</p>
                        <p>-Task 7</p>
                        <p>-Task 8</p>
                        <p>-Task 9</p>
                        <p>-Task 10</p>
                    </div>
                    <hr class="my-4" />
                </div>
            </div>
            <div class="row">
                <div class="container-fluid text-center">
                    <a class="btn btn-danger btn-lg" id="add-task-button" href="#" role="button">Add Task</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <div class="container-fluid img-rounded pomodoro-timer-box">
                        <h1 class="display-4">0:00</h1>
                        <hr class="my-4">
                        <p class="lead">
                            <a class="btn btn-success btn-lg" id="start-button" href="#" role="button">Start</a>
                            <a class="btn btn-danger btn-lg" id="end-button" href="#" role="button">End</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="container-fluid img-rounded date-box">
                        <div class="display-4 text-center">
                            <h1>10/24/2020</h1>
                            <h1>6:49</h1>
                            <h1>PM</h1>
                        </div>
                        <hr class="my-4">
                        <div class="text-center">
                            <a class="btn btn-lg" id="left-button" href="#" role="button"><</a>
                            <a class="btn btn-lg" id="right-button" href="#" role="button">></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container-fluid text-right" id="options">
            <a class="btn btn-lg" id="save-button" href="#" role="button">Save</a>
            <a class="btn btn-lg" id="load-button" href="#" role="button">Load</a>
            <a class="btn btn-lg" id="options-button" href="#" role="button">Options</a>
        </div>
    </div>
</div>