@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <p><img src="~/Images/TaskmatoLogo.png" alt="Taskmato" /></p>
        <div class="container">

        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="container pomodoro-timer-box">
                <div class="jumbotron">
                    <h1 class="display-4 text-center">0:00</h1>
                    <hr class="my-4">
                    <p class="lead text-center">
                        <a class="btn btn-success btn-lg" href="#" role="button">Start</a>
                        <a class="btn btn-danger btn-lg" href="#" role="button">End</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container date-box">

            </div>
        </div>
    </div>
</div>